version: '3.4'

x-environment:
  &default-environment
    LAGOON_ROUTE: ${LOCALDEV_URL:-http://bay.docker.amazee.io}

x-args:
  &default-args
    LAGOON_IMAGE_VERSION: ${LAGOON_IMAGE_VERSION:-latest}

services:
  cli:
    build:
      context: ./bay/images
      dockerfile: $PWD/bay/images/Dockerfile.builder
      args:
        << : *default-args
    image: ${DOCKERHUB_NAMESPACE:-singledigital}/cli
    environment:
      << : *default-environment
    networks:
      - default

  nginx:
    build:
      context: ./bay/images
      dockerfile: $PWD/bay/images/Dockerfile.nginx
      args:
        << : *default-args
    image: ${DOCKERHUB_NAMESPACE:-singledigital}/nginx
    ports:
      - 8080
    depends_on:
      - php
    environment:
      << : *default-environment
    networks:
      - default

  php:
    build:
      context: ./bay/images
      dockerfile: $PWD/bay/images/Dockerfile.php
      args:
        << : *default-args
    image: ${DOCKERHUB_NAMESPACE:-singledigital}/php
    environment:
      << : *default-environment
    networks:
      - default

  php_goss:
    build:
      context: ./bay/images
      dockerfile: $PWD/bay/images/Dockerfile.php_goss
      args:
        BASE_IMAGE: ${DOCKERHUB_NAMESPACE:-singledigital}/php
    image: ${DOCKERHUB_NAMESPACE:-singledigital}/php_goss
    environment:
      << : *default-environment
    networks:
      - default
    depends_on:
      - php

  node:
    build:
      context: ./bay/images
      dockerfile: $PWD/bay/images/Dockerfile.node-slim
    image: ${DOCKERHUB_NAMESPACE:-singledigital}/node
    environment:
      << : *default-environment
    networks:
      - default

  mariadb:
    build:
      context: ./bay/images
      dockerfile: $PWD/bay/images/Dockerfile.mariadb
    image: ${DOCKERHUB_NAMESPACE:-singledigital}/mariadb
    environment:
      << : *default-environment
    networks:
      - default

  circle:
    build:
      context: ./bay/images
      dockerfile: $PWD/bay/images/Dockerfile.circle
    image: ${DOCKERHUB_NAMESPACE:-singledigital}/circle
    environment:
      << : *default-environment
    networks:
      - default

  ci-builder:
    build:
      context: ./bay/images
      dockerfile: $PWD/bay/images/Dockerfile.ci-builder
    image: ${DOCKERHUB_NAMESPACE:-singledigital}/ci-builder
    command: tail -F anything
    environment:
      << : *default-environment
    networks:
      - default

  builder:
    build:
      context: ./bay/images
      dockerfile: $PWD/bay/images/Dockerfile.builder
    image: ${DOCKERHUB_NAMESPACE:-singledigital}/builder
    command: tail -F anything
    environment:
      << : *default-environment
    networks:
      - default

  clamav:
    build:
      context: ./bay/images
      dockerfile: $PWD/bay/images/Dockerfile.clamav
    image: ${DOCKERHUB_NAMESPACE:-singledigital}/clamav
    ports:
      - 3000
    environment:
      << : *default-environment
    networks:
      - default

  test:
    build:
      context: $PWD
      dockerfile: $PWD/bay/images/Dockerfile.test
    image: ${DOCKERHUB_NAMESPACE:-singledigital}/test
    networks:
      - default
