jsonschema==3.2.0  # from collection ansible.utils
textfsm  # from collection ansible.utils
ttp  # from collection ansible.utils
xmltodict  # from collection ansible.utils
kubernetes>=12.0.0  # from collection kubernetes.core
requests-oauthlib  # from collection kubernetes.core,user
jsonpatch  # from collection kubernetes.core
ansible-builder  # from collection user
boto>=2.49.0  # from collection user
botocore>=1.12.249  # from collection user
boto3>=1.9.249  # from collection user