version: 2

jobs:
  build:
    docker:
      - image: singledigital/bay-ci-builder:edge
        environment:
          GOSS_FILE_STRATEGY: cp
          DOCKER_VERSION: 18.09.2
          DOCKERHUB_NAMESPACE: bay_ci
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Bring the containers up.
          command: docker-compose up -d
      - run:
          name: Install goss
          command: curl -fsSL https://goss.rocks/install | sh && goss --version
      - run:
          name: Build images
          command: tests/build.sh
      # Sleeping to ensure the supervisord has started.
      - run: sleep 30s
      - run:
          name: Test images
          command: tests/run.sh
      - run:
          name: Unit tests for clamav
          command: docker-compose exec test sh -c 'cd /app/clamav && ./vendor/bin/phpunit'

  deploy:
    docker:
      - image: singledigital/bay-ci-builder:edge
        environment:
          GOSS_FILE_STRATEGY: cp
          DOCKER_VERSION: 18.09.2
          DOCKERHUB_NAMESPACE: singledigital
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Log in to dockerhub
          command: docker login -u $DOCKERHUB_USERNAME -p $DOCKERHUB_PASSWORD
      - run:
          name: Push images to dockerhub
          command: .circleci/scripts/push.sh

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - deploy:
          requires:
            - build

  weekly_build:
    jobs:
      - build
      - deploy:
          requires:
            - build
    triggers:
      - schedule:
          cron: 0 20 * * 0
          filters:
            branches:
              only:
                - 3.x

