boto>=2.49.0
botocore>=1.12.249
boto3>=1.9.249
requests-oauthlib
ansible-lint
flake8
yamllint
kubernetes
lxml
gql
ruamel.yaml
pygithub
azure-cli

# Dependencies for the gql requests transport.
requests<3,>=2.26
requests-toolbelt<1,>=0.10.1
urllib3<2.0.0
